<h1>Edit: {{film.name}} 🚀</h1>
<form action='{{editUrl}}' method='POST'>
  {{#with film}}
    {{> textInput value=name fieldName='name' }}
    <label for='year'>Year</label>
    <input name='year' id='year' type='number' value='{{year}}' />
    {{> textInput value=director fieldName='director' }}
  {{/with}}
  <input type='submit' value='Edit Film' />
</form>