<form action='/auth/login' method='POST'>
  <label>
    Username
    <input type='text' name='username' />
  </label>
  <label>
    Password
    <input type='password' name='password' />
  </label>

  <input type='hidden' name='attemptedUrl' value='{{attemptedUrl}}' />
  <button type='submit'>Submit</button>
</form>

{{#if attemptedUrl}}
  <p>
    You tried to go to
    {{attemptedUrl}}, but you cannot until you log in!
  </p>
{{/if}}

{{#if errorMessage}}
  {{errorMessage}}
{{/if}}